{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Information
{% endblock %}

{% block content %}

<!-- Self Avoidance Option -->
{% if player.treatment == "mandatory" %}
In this round, you have chosen to invest a total of {{player.investment}} tokens in Option {{player.chosen_option}}. On the next screen, you will see information about other participants' investments. The outcomes of those participants were not affected by your choices.</br></br>

{% endif %}

<!-- Self No Avoidance Option -->
{% if player.treatment == "optional" %}
In this round, you have chosen to invest a total of {{player.investment}} tokens in Option {{player.chosen_option}}. On the next screen, you have the option to see information about other participants’ investments.</br></br>

The outcomes of those participants were not affected by your choices.


{% endif %}

{% next_button %}


{% endblock %}

{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}
