{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

{% if subsession.round_number != 1 %}
You will now start a new round.  The instructions for the game are the same.</br></br>
{% endif %}

{% if subsession.subgames == 1 %}
You will receive 30 tokens that you can invest in one of three options.  Your earnings for the round will be decided by this investment.

{% else %}
Each round is divided into three parts.  In each of the three parts, you will receive 10 tokens that you can invest.  Your earnings for the round will be totaled over all three parts.

{% endif %}

{% if player.treatment == "mandatory" %}
At the end of the round, you will see information on the investment choices of another player, including which option they chose, how much they invested, and how much they earned.
{% endif %}

{% if player.treatment == "optional" %}
At the end of the round, you will have the chance to see information on the investment choices of another player, including which option they chose, how much they invested, and how much they earned.
{% endif %}

</br></br>

    {% next_button %}

{% endblock %}


{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}