{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

In this study, you will play {{Constants.num_supergames}} rounds of a game.  Each round, you will have an option to make an investment decision.  The amount you earn during this experiment will depend on the investment outcome of one of these rounds, which will be chosen at random.

During the experiment you may earn tokens.  We will pay you $1.00 at the end of the experiment for each token.

You will be paid in private and will have no obligation to discuss your earnings with other participants.</br></br>


    {% next_button %}

{% endblock %}

{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}
