{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Results
{% endblock %}

{% block content %}

Your investment did {% if player.outcome == False %}not {% endif %} pay off.</br>

You have invested {{player.investment}} tokens and earned <b>{{player.earned}} tokens</b> from your investment.</br>

You chose not to invest <b>{{ tokens_not_invested }} token(s).</b></br>

<b>Tokens earned in this round: {{player.earned_total}}.</b></br>

<b>Cumulative tokens earned: {{participant.payoff}}.</b></br>

    {% next_button %}

{% endblock %}


{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}