{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Outcome
{% endblock %}

{% block content %}

<!-- Your investment did {% if player.outcome == False %}not {% endif %} pay off.</br>-->

You invested {{player.investment}} token{{player.investment|pluralize}}. Your investment return was {{player.investment_return}} token{{player.investment_return|pluralize}}, so you received <b>{{player.earned}} token{{player.earned|pluralize}}</b>.</br>

You did not invest <b>{{ player.not_invested }} token{{tokens_not_invested|pluralize}}</b>, and they were returned to you.</br>

You are left with: {{player.earned}} + {{player.not_invested}} = <b>{{player.revenue}} token{{player.revenue|pluralize}}</b>.</br></br>

    {% next_button %}

{% endblock %}


{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}