{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Information
{% endblock %}

{% block content %}

Another player picked Option {{ player.info_option }}, and invested {{ player.info_investment }} token{{player.info_investment|pluralize}}. Their investment return was {{player.info_investment_return}} token{{player.info_investment_return|pluralize}}, so they received {{player.info_earned}} token{{player.info_earned|pluralize}}.


</br></br>


    {% next_button %}

{% endblock %}

{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}