{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Information
{% endblock %}

{% block content %}

Another player picked <u>Option {{ player.info_option }}</u>.</br></br>

The player invested {{ player.info_total_invested }} token{{player.info_total_invested|pluralize}}. The player's investment return was {{player.info_investment_return}} token{{player.info_investment_return|pluralize}}, so he or she received <b>{{player.info_earned_total}} token{{player.info_earned_total|pluralize}}</b>.</br>

The player did not invest <b>{{player.info_not_invested}} token{{player.info_not_invested|pluralize}}</b>, and the tokens were returned to him or her.</br>

The player was left with: {{player.info_earned_total}} + {{player.info_not_invested}} = <b>{{player.info_revenue}} token{{player.info_revenue|pluralize}}</b>.


</br></br>


    {% next_button %}

{% endblock %}

{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}