{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round {{subsession.round_number}}
{% endblock %}

{% block content %}

Available tokens to invest: {{Constants.tokens_per_subgame}}</br></br>

<form required>
	<table border = "0" cellpadding = "10px">
		{% for value in Constants.values %}
		{% if subsession.initial_round or previous_choice == value %}
		<tr>
		<td>
			<span class = "option"><input type = "radio" name = "chosen_option" value = {{value}} {% if previous_choice == value %} checked {% else %} onclick = "enableButton()" {% endif %}> <span class = "option_text">Option {{value}}
				<!-- :  {{lottery.2}}x with {{lottery.0}}% probability and {{lottery.3}}x with {{lottery.1}}% probability --></span></span></br>
<!-- 			<div>
				<img src="{% static 'information_avoidance/high_risk.png' %}"/>
			</div> -->
		</td>
		</tr>
		{% endif %}
		{% endfor %}
</table>
</form>

</br>

<span>
You may choose to invest any number of tokens in only <strong>one</strong> of the two options. The remaining tokens stay in your account and will be added to the potential winnings from this game. {% if Constants.rounds_per_supergame > 1 %} Recall that in the next {{ Constants.rounds_per_supergame|add:"-1" }} rounds, you will only be able to invest in the option you choose now. {% endif %} </br></br>

<!-- NOTE: I don't think this slider input works with Internet Explorer 9 or previous versions -->

<input type = "range" value = "1" min = "1" max = "{{Constants.tokens_per_subgame}}" step = "1" name = "investment" oninput = "change_slider()" id = "investment_slider">

<input type = "number" value = "1" id = "investment_text" onchange = "change_value()" onkeydown = "return FilterInput(event)" onpaste = "handlePaste(event)" style = "max-width:40px;"> token(s)
    
</br></br>

<p>
	<button class="otree-next-button btn btn-large btn-primary next-button" id = "next_button" {% if previous_choice == None %}disabled {% endif %}>Next</button>
</p>

</span>

{% endblock %}

{% block scripts %}
	<script>
		function change_slider() {
			var inv = document.getElementById("investment_slider").value;
			document.getElementById("investment_text").value = inv;
		};

		function change_value(){
			var inv = document.getElementById("investment_text").value;
			var max = document.getElementById("investment_slider").max;
			var min = document.getElementById("investment_slider").min;

			inv = Math.round(parseInt(inv));

			if (inv > max){
				inv = max;
			}
			if (inv < min){
				inv = min;
			}

			inv = inv.toString();

			document.getElementById("investment_text").value = inv;
			document.getElementById("investment_slider").value = inv;
		};

		// Code taken from https://stackoverflow.com/questions/31706611/why-does-the-html-input-with-type-number-allow-the-letter-e-to-be-entered-in
		function FilterInput(event) {
		    var keyCode = ('which' in event) ? event.which : event.keyCode;

		    isNotWanted = (keyCode == 69 || keyCode == 101);
		    return !isNotWanted;
		};

		function handlePaste (e) {
		    var clipboardData, pastedData;

		    // Get pasted data via clipboard API
		    clipboardData = e.clipboardData || window.clipboardData;
		    pastedData = clipboardData.getData('Text').toUpperCase();

		    if(pastedData.indexOf('E')>-1) {
		        //alert('found an E');
		        e.stopPropagation();
		        e.preventDefault();
		    }
		};

		function enableButton(){
			next_button = document.getElementById("next_button");
			next_button.disabled = false;
		}
	</script>
{% endblock %}

{% block styles %}
<link href="{% static "information_avoidance/supergame.css" %}" rel = "stylesheet">
{% endblock %}